# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
.env
data_ifem_backup.json

# Logs e Backup
*.log
*.json

# OS
.DS_Store
Thumbs.db

# Exports CSV
exports/

# Contexto Gemini
GEMINI.md